<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990605426346-idgkuv29nonl2oc47gos15bm05slta22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990605426346-idgkuv29nonl2oc47gos15bm05slta22</string>
	<key>API_KEY</key>
	<string>AIzaSyBwsdXOCvEY5qAnb5zHSenqRvzGkC0IajU</string>
	<key>GCM_SENDER_ID</key>
	<string>990605426346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waveChat</string>
	<key>PROJECT_ID</key>
	<string>wave-chat-2c301</string>
	<key>STORAGE_BUCKET</key>
	<string>wave-chat-2c301.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990605426346:ios:445f1b9a1dfc333997dad3</string>
</dict>
</plist>